.banner{
    width: 100%;
    display: flex;
    height: auto;
    background-color: #171744;
    background-image: url(/imgs/banner-bgc.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;

    .banner-content{
        width: 100%;
        display: flex;
        height: auto;
        padding-top: 300px;
        padding-bottom: 300px;
        padding-left: 20px; 

        img{
            max-width: 100%;
            height: auto;
        }

        

        .banner-ship1{
            position: absolute;
            left: 50%;
            transform: unset;
            transition: transform 0.1s ease 0s;
            will-change: transform;
        }
        .banner-ship3{
            transform: translate(-16px, 0px) matrix(1, 0, 0, 1, 0, 0);
            transition: transform 0.1s ease 0s;
            will-change: transform;
            position: absolute;
            right: 20px;
            bottom: 55%;
            animation: ship 3s linear infinite;

            @media (max-width: 923px){
                bottom: 45%;
            }
        }

        .banner-ship2{
            transform: translate(-7px, 0px);
            transition: transform 0.1s ease 0s;
            will-change: transform;
            position: absolute;
            left: 5%;
            top: 22%;
        }

        .banner-circle1{
            position: absolute;
            left: 30%;
            top: 16%;
            opacity: .5;
            animation: zoominout 3s linear infinite;
        }

        .banner-circle2{
            position: absolute;
            right: 60px;
            top: 20%;
            -webkit-animation: zoominoutsinglefeatured 3s linear infinite;
            animation: zoominout 3s linear infinite;
        }

        .banner-robot{
            transform: unset;
            transition: transform 0.1s ease 0s;
            will-change: transform;
            position: absolute;
            left: 60%;
            bottom: 16%;
        }

        .banner-man2{
            transform: unset;
            transition: transform 0.1s ease 0s;
            will-change: transform;
            position: absolute;
            left: 22%;
            bottom: 13%;
        }

        .banner-man3{
            transform: translate(-26px, 0px);
            transition: transform 0.1s ease 0s;
            will-change: transform;
            position: absolute;
            left: 10%;
            bottom: 8%;
        }

        .banner-man1{
            transform: translate(-20px, 0px);
            transition: transform 0.1s ease 0s;
            will-change: transform;
            position: absolute;
            right: 0;
            bottom: 20px;
        }

        .dot1{
            position: absolute;
            left: 60%;
            top: 5%;
            animation: line 8s infinite linear;
        }
        .dot2{
            position: absolute;
            left: 50%;
            top: 10%;
            animation: line 10s infinite linear;
        }
        .dot3{
            position: absolute;
            left: 65%;
            top: 5%;
            -webkit-animation: lineThree 8s infinite linear;
            animation: line 8s infinite linear;
        }
        .dot4{
            position: absolute;
            right: 20px;
            bottom: 70%;
            -webkit-animation: lineThree 8s infinite linear;
            animation: line 8s infinite linear;
        }
        .dot5{
            position: absolute;
            left: 20%;
            top: 0;
            -webkit-animation: lineThree 8s infinite linear;
            animation: line 8s infinite linear;
        }
        .dot6{
            position: absolute;
            right: 40px;
            top: 10%;
            -webkit-animation: lineThree 10s infinite linear;
            animation: line 10s infinite linear;
        }

        .dot7{
            position: absolute;
            left: 50%;
            top: 10%;
            -webkit-animation: lineThree 10s infinite linear;
            animation: line 10s infinite linear;
        }
        .dot8{
            position: absolute;
            left: 20%;
            top: 10%;
            -webkit-animation: lineThree 10s infinite linear;
            animation: line 10s infinite linear;
        }

        .manyline{
            position: absolute;
            right: 0;
            bottom: 20%;
            -webkit-animation: lineThree 8s infinite linear;
            animation: line 8s infinite linear;
        }

        .text{
            width: 50%;
            display: inline-block;

            @media (max-width: 923px){
                width: 100%;
                z-index: 100;
            }

            h2{
                font-size: 80px;
                color: #fff;
                text-transform: capitalize;
                text-align: left;
            }

            p{
                font-size: 24px;
                text-transform: capitalize;
                text-align: left;
                font-weight: 300;
                letter-spacing: 1px;
            }

            .btn-section{
                width: 100%;
                height: auto;
                padding-top: 50px;

                @include btn;
                
                @include dark-btn;
            }
        }
    }
}